@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.logo{
    height: 140px;
    width: 250px;
}

h1{
    text-align: center;
    font-family: "Teko";
    font-size: 4em;
}


h2{
    text-align: center;
    font-family: "Teko";
    font-weight: 600;
}

h3{
    text-align: center;
    font-size: 2em;
}

p{
    text-align: center;
    font-size: 25px;
}


body{
    text-align: center;
    font-family: "Teko";
    font-size: larger;
    background-image: url(https://static.vecteezy.com/system/resources/previews/011/171/111/original/white-background-with-orange-geometric-free-vector.jpg);
}
